body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}
div{
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    font-family:"Outfit", sans-serif;
    margin-top: 100px;
}
img{
     border-radius: 20px;
     margin:5 auto;
     width: 250px;
     display: block;
}
h2{
    font-size: 20px;
    padding-left: 5px;
    text-align: center;
}
p{
    font-size: 15px;
    text-align: center;
}
@media screen { 
    
    
}