body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
div{
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 270px;
    
    border-radius: 20px;
    align-items: center;
    width: 250px;
    
}
img{
     border-radius: 20px;
     margin:5 auto;
     width: 260px;
     display: block;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 5px;
    text-align: center;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}
@media screen { 
    
    
}